{% extends "base.html" %}

{% block content  %}
<body class="has-navbar-fixed-top">
{% include 'guest_nav.html' %}

<!-- Header -->
<section class="hero is-large is-dark is-bold has-text-centered">
  <div class="hero-body">
    <div class="columns">
        <div class="container column is-full">
        <img class="py-3" src="https://www.investinbath.co.uk/sites/default/files/pictures/Prezola.png" width="325px" />
        <br>
        </div>
    </div>
    <div class="columns is-centered pb-4">
        <div class="buttons column is-half">
            <h1 class="title">
                THANK YOU FOR PURCHASING WITH US
            </h1>
        </div>
    </div>
  </div>
</section>

<!-- Header -->
    
</body>
{% endblock  %}