<!-- navbar -->
    <nav class="navbar is-fixed-top px-2">
        <div class="navbar-brand">
            <a href="#" class="navbar-burger toggler">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a href="#" class="navbar-item has-text-weight-bold has-text-black">PREZOLA</a>
            <a href="#" class="navbar-burger nav-toggler"></a>
        </div>
        <div class="navbar-menu has-background-white">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">Help</a>
                    <div class="navbar-dropdown is-right">
                        <a href="#" class="navbar-item">How To Buy A Gift</a>
                        <a href="#" class="navbar-item">How Prezola Works</a>
                        <a href="#" class="navbar-item">Delivery Information</a>
                        <a href="#" class="navbar-item">Returns & Exchanges</a>
                        <a href="#" class="navbar-item">FAQs</a>
                        <a href="#" class="navbar-item">Contact Us</a>
                    </div>
                </div>
                <a href="{{ url_for('find_list') }}" class="navbar-item">PURCHASE A GIFT</a>
                <a href="{{ url_for('login') }}" class="navbar-item">LOGIN</a>
                <a href="{{ url_for('register') }}" class="navbar-item">CREATE A LIST</a>            
            </div>
        </div>
    </nav>
    <!-- navbar -->