{% extends "base.html" %} {% block content %}

<body class="has-navbar-fixed-top">
    {% include 'user_nav.html' %}
    <!-- HERO - TITLE -->
    <section class="hero is-medium is-dark is-bold has-text-centered">
        <div class="hero-body">
            <div class="columns">
                <div class="container column is-full">
                    <h1 class="title">
                        START ADDING GIFTS TO LIST
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- HERO - TITLE -->

    <!-- CONTENT - PRODUCTS LIST -->
    <section class="section">
        <div class="container">
            <div id="app" class="row columns is-multiline">
                {% for product in products %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image is-32x32">
                            <figure class="image">
                                <img src="https://via.placeholder.com/150" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h5 class="subtitle is-5">
                                    {{ product.name }}
                                </h5>
                                <p class="subtitle is-6">
                                    {{ product.brand }}
                                </p>
                                <h5 class="subtitle has-text-weight-bold">
                                    £{{ product.price|replace("GBP","") }}
                                </h5>
                                <form action="{{url_for('AddList')}}" method="POST">
                                    <input type="hidden" name="product_id" value="{{product.id}}">
                                    <button type="submit" class="button is-link">Add to List</button>
                                    <label class="subtitle is-4" for=""> QTY: </label>
                                    <input type="number" name="quantity" id="" value="1" min="1" max="{{product.quantity}}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- CONTENT - PRODUCTS LIST -->

</body>
{% endblock %}