{% extends "base.html" %}

{% block content  %}
<body class="has-navbar-fixed-top">
{% include 'guest_nav.html' %}
<section class="hero is-light">
  <div class="hero-body level">
    <div class="level-left">
        <div class="level-item">
            <figure class="media-left">
                <p class="image is-64x64">
                <img class="is-rounded" src="https://pngimg.com/uploads/wedding/wedding_PNG19476.png">
                </p>
            </figure>
        </div>
        <div class="level-item">
            <h1 class="title">
                {{ user.firstname }} x {{ wedding.partner }}
            </h1>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <h2 class="subtitle">
                {{ wedding.wedding_date }}
            </h2>
        </div>
    </div>
  </div>
</section>
<!-- products -->
    <section class="section">
        <div class="container">
            <div id="app" class="row columns is-multiline">
                {% for product in products %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image is-32x32">
                            <figure class="image">
                                <img src="https://via.placeholder.com/150" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h5 class="subtitle is-5">
                                    {{ product.name }}
                                </h5>
                                <p class="subtitle is-6">
                                    {{ product.brand }}
                                </p>
                                <h5 class="subtitle has-text-weight-bold">
                                    £{{ product.price|replace("GBP","") }}
                                </h5>
                                <form action="{{url_for('addBasket')}}" method="POST">
                                    <input type="hidden" name="product_id" value="{{product.id}}">
                                    <button type="submit" class="button is-link">Add to Bsket</button>
                                    <label class="subtitle is-4" for=""> QTY: </label>
                                    <input type="number" name="quantity" id="" value="1" min="1" max="{{product.quantity}}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- products -->
</body>
{% endblock  %}