<!-- navbar -->
    <nav class="navbar is-fixed-top px-2">
        <div class="navbar-brand">
            <a href="#" class="navbar-burger toggler">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a href="#" class="navbar-item has-text-weight-bold has-text-black">PREZOLA</a>
            <a href="#" class="navbar-burger nav-toggler"></a>
        </div>
        <div class="navbar-menu has-background-white">
            <div class="navbae-start">
            </div>
            <div class="navbar-end">
                <div class="">
                    <p class="control has-icons-right pt-3">
                    <input class="input is-focused is-small" type="text" placeholder="Search">
                    <span class="icon is-right pt-5">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                    </p>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">My Account</a>
                    <div class="navbar-dropdown is-right">
                        <a href="#" class="navbar-item">Generate List Report</a>
                        <a href="#" class="navbar-item">Contact Us</a>
                        <hr class="navbar-divider">
                        <a href="#" class="navbar-item">Log Out</a>
                    </div>
                </div>
                <a href="#" class="navbar-item">My Gift List</a>
                <a href="#" class="navbar-item icon is-large"><i class="fas fa-shopping-basket fa-lg"></i></a>           
            </div>
        </div>
    </nav>
    <!-- navbar -->