{% extends "base.html" %} {% block content %}

<body class="has-navbar-fixed-top">
    {% include 'guest_nav.html' %}

    <!-- HERO - WEDDING INFO REGISTRATION -->
    <section class="hero is-medium is-dark is-bold has-text-centered">
        <div class="hero-body">
            <div class="columns">
                <div class="container column is-full">
                    <h2 class="title">
                        Hi {{ user_name }}!
                    </h2>
                    <img class="py-3" src="https://www.investinbath.co.uk/sites/default/files/pictures/Prezola.png" width="325px" />
                    <br>
                </div>
            </div>
            <div class="container">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="level">
                        <div class="level-item">
                            {{ form.partner(class='input is-medium is-rounded', placeholder="PARTNER'S NAME") }}
                        </div>
                        <div class="level-item">
                            {{ form.wedding_date(class='input is-medium is-rounded') }}
                        </div>
                    </div>
                    {{ form.submit(class="button is-primary") }}
                </form>
            </div>
        </div>
    </section>
    <!-- HERO - WEDDING INFO REGISTRATION -->

    <!-- CONTENT - OTHER SERVICES -->
    {% include 'other_services.html' %}
    <!-- CONTENT - OTHER SERVICES -->

</body>
{% endblock %}