{% extends "base.html" %}

{% block content  %}
<body class="has-navbar-fixed-top">
    {% include 'guest_nav.html' %}
    <!-- HERO - SEARCH WEDDING LIST -->
    <section class="hero is-large is-dark is-bold has-text-centered">
        <div class="hero-body">
            <div class="columns">
                <div class="container column is-full">
                <h1 class="title">
                    FIND A WEDDING GIFT LIST
                </h1>
                <br>
                <h2 class="subtitle">
                    Search by list number
                </h2>
                </div>
            </div>
            <form action="{{ url_for('find_list') }}" method="POST" name="search">
            <div class="columns is-centered py-4">
                <p class="control has-icons-right pt-3">
                <input name="wedding_list_id" class="input is-focused is-large" type="text" placeholder="Search">
                <span class="icon is-right pt-5">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
                </p>
            </div>
            <div class="columns is-centered pb-4">
                <div class="buttons column is-half">
                    <button type="submit" class="button is-success">SEARCH FOR LIST</span>
                </div>
            </div>
            </form>
        </div>
    </section>
    <!-- HERO - SEARCH WEDDING LIST -->
    
    <!-- CONTENT - OTHER SERVICES -->
    {% include 'other_services.html' %}
    <!-- CONTENT - OTHER SERVICES -->
    
</body>
{% endblock  %}